body {
  background-color: #08415c;
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  text-transform: uppercase;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .page-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.image-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px;
}

.email-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .email-column {
    padding-right: 15px;
    padding-left: 10px;
  }
}

.image-holder {
  position: relative;
  text-align: center;
  width: 100%;
}

.image-holder:hover .refresh {
  display: block;
}

.image-holder .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2rem;
}

.randomImage {
  min-width: 250px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  width: 100%;
  border-bottom: 2px solid orange;
}

@media screen and (min-width: 768px) {
  .randomImage {
    height: 80vh;
  }
}

@media screen and (-ms-high-contrast: none) {
  .randomImage {
    height: 100%;
    width: 100%;
    display: block;
  }
}

.refresh {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-width: 250px;
  height: calc(100% - 6px);
  cursor: pointer;
}

.refresh:focus {
  display: none;
}

@media screen and (-ms-high-contrast: none) {
  .refresh {
    height: 100%;
  }
}

.loader-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 100%;
  height: 100%;
  text-align: center;
}

#loader-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid lightblue;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#top-loader-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 100%;
  height: 100%;
  text-align: center;
}

#top-loader-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 30px;
  border-radius: 50%;
  background-color: rgba(33, 33, 33, 0.7);
}

.top-loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid lightblue;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

#top-loader-container {
  display: none;
  top: 0;
  left: 0;
}

#top-loader-container.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

fieldset {
  position: relative;
  margin-top: 20px;
  width: 100%;
  border-width: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  fieldset {
    margin-top: 0;
  }
}

#assign-email {
  display: block;
  width: 100%;
  background-color: #063449;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid orange;
  padding: 12px;
  padding-top: 20px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: .825rem;
}

#assign-email:focus {
  outline: 0;
  border-radius: 5px;
  border: 1px solid orange;
}

#assign-email::-webkit-input-placeholder {
  color: #949494;
}

#assign-email:-ms-input-placeholder {
  color: #949494;
}

#assign-email::-ms-input-placeholder {
  color: #949494;
}

#assign-email::placeholder {
  color: #949494;
}

#assign-email.error {
  border: 1px solid  red;
}

#email-label {
  font-family: 'Roboto', sans-serif;
  font-size: .65rem;
  position: absolute;
  top: 5px;
  left: 12px;
  color: orange;
}

#email-label.error {
  color: red;
  font-size: 1rem;
}

#email-message {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: red;
  margin-top: 5px;
  display: none;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

#email-message.shown {
  display: block;
}

#assign-button {
  margin-top: 15px;
  padding: 15px 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: #212121;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  background: orange;
  -webkit-transition: .15s ease background-color, .3s ease transform;
  transition: .15s ease background-color, .3s ease transform;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  width: 75%;
}

#assign-button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 0 3px grey;
          box-shadow: 0 0 3px grey;
  background-color: #eb9800;
}

#assign-button:active {
  background-color: #cc8400;
}

@media screen and (min-width: 768px) {
  #assign-button {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 50%;
  }
}

#assigned {
  width: 100%;
}

.assigned-list {
  padding: 0;
  margin: 0;
}

.assigned-list:first-of-type {
  margin-top: 30px;
}

.assigned-main-list ul {
  padding-left: 0;
}

.email-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  background-color: #063449;
  color: #fff;
  border-bottom: 1px solid orange;
  cursor: pointer;
  -webkit-transition: .15s ease background-color;
  transition: .15s ease background-color;
}

.email-heading > h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: .9rem;
  padding-left: 15px;
}

.email-heading > svg {
  font-size: .75rem;
}

.email-heading:hover {
  background-color: #052636;
  border: 1px solid rgba(255, 165, 0, 0.25);
}

.fa-chevron-down {
  display: block;
}

.fa-chevron-down.toggled {
  display: none;
}

.fa-chevron-up {
  display: none;
}

.fa-chevron-up.toggled {
  display: block;
}

.email-heading.active {
  color: black;
  background-color: orange;
  border: none;
  -webkit-transition: .15s ease background-color;
  transition: .15s ease background-color;
}

.email-heading.active > h3 {
  font-weight: 900;
}

.email-heading.active:hover {
  background-color: #eb9800;
}

.assigned-sub-list {
  display: none;
  width: 100%;
  background-color: #2E2E2E;
  padding: 15px;
}

.assigned-sub-list.active {
  display: -ms-grid;
  display: grid;
  gap: 0px 0px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 768px) {
  .assigned-sub-list.active {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1260px) {
  .assigned-sub-list.active {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (-ms-high-contrast: none) {
  .assigned-sub-list.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .assigned-sub-list {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media screen and (-ms-high-contrast: none) {
  .assigned-sub-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.assigned-sub-list::-webkit-scrollbar {
  width: 6px;
}

.assigned-sub-list::-webkit-scrollbar-track {
  background-color: orange;
  border-radius: 10px;
}

.assigned-sub-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: orange;
}

.assigned-sub-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  position: relative;
}

@media screen and (-ms-high-contrast: none) {
  .assigned-sub-image {
    width: 130px;
    height: 130px;
    margin-right: 0;
    margin-left: 0;
  }
}

.assigned-sub-image:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  cursor: pointer;
  -webkit-box-shadow: 0 0 8px black, inset 0px 0px 0px 6px orange;
          box-shadow: 0 0 8px black, inset 0px 0px 0px 6px orange;
  z-index: 999;
}
/*# sourceMappingURL=styles.css.map */