@import "mixins";


body{
    background-color: #08415c;
    color: #fff;
}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;

}

button {
    border: none;
    outline: none;
    text-transform: uppercase;
}
.page-container{
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;

    @include mq('sm'){
        flex-direction: row;
    }
}



.image-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    
}

.email-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @include mq('sm'){
        padding-right: 15px;
        padding-left: 10px;
    }
}

.image-holder{
    position: relative;
    text-align: center;
    width: 100%;

    &:hover .refresh{
        display: block;
    }

    .fas{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
    }
}

.randomImage{
    min-width: 250px;
    height: 500px;
    object-fit: cover;
    position: relative;
    width: 100%;
    @include mq('sm') {
        height: 80vh;
    }
    @media screen and (-ms-high-contrast: none) {
        
    
        height: 100%;
        width: 100%;
        display: block;
    }
}
    
.refresh{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    min-width: 250px;
    height: calc(100% - 6px);
    cursor: pointer;
    &:focus{
        display: none;
    }
    @media screen and (-ms-high-contrast: none) {
    height: 100%;
    }
}


.loader-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    text-align: center;
}

#loader-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid lightblue; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #top-loader-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    height: 100%;
    text-align: center;
}

#top-loader-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    border-radius: 50%;
    background-color: fade-out(#212121, .3);
}

.top-loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid lightblue; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}


#top-loader-container {
    display: none;
    top: 0;
    left: 0;
    &.loading {
        display: flex;
    }
}

// Email column

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

fieldset {
    position: relative;
    margin-top: 20px;
    width: 100%;
    border-width: 0;
    padding: 0;
    @include mq('sm') {
        margin-top: 0;
    }
}

#assign-email {
    display: block;
    width: 100%;
    background-color: darken(#08415c ,4%) ;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid orange;
    padding: 12px;
    padding-top: 20px;
    color:  #fff;
    font-family: 'Roboto', sans-serif;
    font-size: .825rem;
    &:focus {
        outline: 0;
        border-radius: 5px;
        border: 1px solid orange;
        
    }
    &::placeholder {
        color: #949494;
    }
    &.error {
        border: 1px solid  red;
    }
}

#email-label {
    font-family: 'Roboto', sans-serif;
    font-size: .65rem;
    position: absolute;
    top: 5px;
    left: 12px;
    color: orange;
    &.error {
        color: red;
        font-size: 1rem;;
    }
}

#email-message {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color:  red;
    margin-top: 5px;
    display: none;
    transition: .3s ease all;
}

#email-message.shown {
    display: block;
}


// Button

#assign-button {
    margin-top: 15px;
    padding: 15px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: #212121;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    background: orange;
    transition: .15s ease background-color, .3s ease transform;
    box-shadow: 0 0 10px black;
    width: 75%;
    &:hover {
        transform: scale(0.95);
        box-shadow: 0 0 3px grey;
        background-color: darken(orange, 4%);
    }
    &:active {
        background-color: darken(orange, 10%);
    }
    @include mq('sm') {
        align-self: flex-start;
        width: 50%;
    }
}


// Email list

#assigned {
    width: 100%;
}

.assigned-list {
    padding: 0;
    margin: 0;
    &:first-of-type {
        margin-top: 30px;
    }
}

.assigned-main-list ul {
    padding-left: 0;
}

.email-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    background-color: darken(#08415c, 4%);
    color: #fff;
    border-bottom: 1px solid orange;
    cursor: pointer;
    transition: .15s ease background-color;
    > h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: .9rem;
        padding-left: 15px;
    }
    > svg {
        font-size: .75rem;
    }
    &:hover {
        background-color: darken(#08415c, 8%);
        border: 1px solid fade-out(orange, .75);
    }
}

.fa-chevron-down {
    display: block;
    &.toggled {
        display: none;
    }
}

.fa-chevron-up {
    display: none;
    &.toggled {
        display: block;
    }
}

.email-heading.active {
    color: black;
    background-color: orange;
    border: none;
    transition: .15s ease background-color;
    > h3 {
        font-weight: 900;
    }
    &:hover {
        background-color: darken(orange, 4%);
    }
}

.assigned-sub-list {
    display: none;
    width: 100%;
    background-color: #2E2E2E;
    padding: 15px;
    &.active {
        display: grid; 
        gap: 0px 0px; 
        grid-template-columns: 1fr 1fr; 
        @include mq('sm') {
            grid-template-columns: 1fr 1fr 1fr; 
        }
        
        @include mq('lg') {
            grid-template-columns: 1fr 1fr 1fr 1fr; 
        }
        @media screen and (-ms-high-contrast: none) {
            display: flex;
        }
    }
    @include mq('sm'){
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    @media screen and (-ms-high-contrast: none) {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &::-webkit-scrollbar {
        width: 6px;
    }
     
    &::-webkit-scrollbar-track {
        background-color: orange;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: orange; 
    }

}

.assigned-sub-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    transition: .3s ease all;
    position: relative;
    @media screen and (-ms-high-contrast: none) {
        width: 130px;
        height: 130px;
        margin-right: 0;
        margin-left: 0;
    }
    &:hover {
        transform: scale(1.04);
        cursor: pointer;
        box-shadow: 0 0 8px black, inset 0px 0px 0px 6px orange;
        z-index: 999;
    }
}

