@import "mixins";


body{
    background-color: #08415c;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;

}

button {
    border: none;
    outline: none;
    text-transform: uppercase;
}
.page-container{
    display: flex;
    flex-direction: column;
    
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;

    
}



.image-column{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 20px;
    justify-content: center;
    
}

.email-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @include mq('sm'){
        padding-right: 15px;
        padding-left: 10px;
    }
}

.image-holder{
    position: relative;
    text-align: center;
    width: 100%;

   

    
}

.randomImage{
    width: 300px;
    height: 300px;
    object-fit: cover;
    position: relative;
    width: 100%;
    object-fit: cover;
    @include mq('sm') {
        height: 400px;
        width: 400px;
    }
    @media screen and (-ms-high-contrast: none) {
        
    
        height: 100%;
        width: 100%;
        display: block;
    }
}

.reload-button{
    margin-top: 15px;
    padding: 15px 25px;
    font-weight: bold;
    align-self: center;
    letter-spacing: 2px;
    color: #212121;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    background: orange;
    transition: .15s ease background-color, .3s ease transform;
    box-shadow: 0 0 10px black;
    width: 75%;
    &:hover {
        transform: scale(0.95);
        box-shadow: 0 0 3px grey;
        background-color: darken(orange, 4%);
    }
    &:active {
        background-color: darken(orange, 10%);
    }
    @include mq('sm') {
        
        width: 50%;
    }
}
    





// Email column

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

fieldset {
    position: relative;
    margin-top: 20px;
    width: 100%;
    border-width: 0;
    padding: 0;
    @include mq('sm') {
        margin-top: 0;
    }
}

#assign-email {
    display: block;
    width: 80%;
    background-color: darken(#08415c ,4%) ;
    border: none;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
    color:  #fff;
    font-family: 'Roboto', sans-serif;
    font-size: .825rem;
    &:focus {
        outline: 0;
        border-radius: 5px;
        border: 1px solid orange;
        
    }
    &::placeholder {
        color: #949494;
    }
    &.error {
        border: 1px solid  red;
    }
}



#email-message {
    font-size: 1rem;
    color:  red;
    margin-top: 5px;
    display: none;
    transition: .3s ease all;
}

#email-message.shown {
    display: block;
}


// Button

#assign-button {
    margin-top: 15px;
    padding: 15px 25px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #212121;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    background: orange;
    transition: .15s ease background-color, .3s ease transform;
    box-shadow: 0 0 10px black;
    width: 75%;
    &:hover {
        transform: scale(0.95);
        box-shadow: 0 0 3px grey;
        background-color: darken(orange, 4%);
    }
    &:active {
        background-color: darken(orange, 10%);
    }
    @include mq('sm') {
        
        width: 50%;
    }
}


// Email list

#image-list {
    width: 100%;
}

.email-section{
    padding: 0;
    margin: 0;
    &:first-of-type {
        margin-top: 30px;
    }
}

.assigned-main-list ul {
    padding-left: 0;
}

.email-title {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    background-color: darken(#08415c, 4%);
    color: #fff;
    border-bottom: 1px solid orange;
    cursor: pointer;
    transition: .15s ease background-color;
    > h3 {
        font-weight: 400;
        font-size: .9rem;
        padding-left: 15px;
    }
    
    
    &:hover {
        background-color: darken(#08415c, 8%);
        border: 1px solid fade-out(orange, .75);
    }
}





.email-title.active {
    color: black;
    background-color: orange;
    border: none;
    transition: .15s ease background-color;
    > h3 {
        font-weight: 900;
    }
    &:hover {
        background-color: darken(orange, 4%);
    }
}

.email-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: #2E2E2E;
    padding: 15px;
   
        
   
    @include mq('sm'){
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    &::-webkit-scrollbar {
        width: 2px;
    }
     
   
    
    
    
    

}

.newImage {
    width: auto;
    height: auto;
    object-fit: cover;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: .3s ease all;
    position: relative;
    @media screen and (-ms-high-contrast: none) {
        width: 130px;
        height: 130px;
        margin-right: 0;
        margin-left: 0;
    }
    &:hover {
        transform: scale(1.04);
        cursor: pointer;
        box-shadow: 0 0 8px black, inset 0px 0px 0px 6px orange;
        z-index: 10;
    }
}

